button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: #1b3264;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    display: inline-block;
    margin-top: 5vh;

    justify-self: center;
}

html {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}


.noto-sans-<uniquifier> {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    font-family: "Noto Sans", sans-serif;


}

html {
    margin: 0;
}

div.left {
    display: inline-block;
    height: 100vh;
    width: 40%;
    color: white;
    background-color: #1b3264;
}

div.right {
    display: inline-block;
    height: 100vh;
    width: 60%;
    color: black;
    background-color: white;
}

h2,
h3 {
    font-family: 'Noto Sans', sans-serif;
}